page-registration {
    ion-title{
        text-align: center;
        font-family: 'Anton', sans-serif;
    }
}
.item-select {
    padding: 16px;
    color:#a9a9a9;
    font-size: 17px;
  }
  
  .item-select select {
    left: 0;
  }