
page-home {
    font-family: 'Roboto', sans-serif;

    .scroll-content{
        background-image: url('../img/background.png');
        background-repeat: no-repeat;
        background-size:cover;
      }
     

    ion-card-header{
text-align: center;
font-size:30px;
font-weight: bold;

    }

    ion-navbar{
    background-color: #333739;
}
ion-title{
    font-family: 'Anton', sans-serif;
        text-align: center;
   
    }
    
.ca{

        padding: 16px;
    }





}

